[Unit]
Description=MoaT-MQTT broker
After=moat-kv.service
Wants=moat-kv.service

ConditionFileNotEmpty=/etc/moat/mqtt.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/moat mqtt -c /etc/moat/mqtt.cfg broker

User=moat
Group=moat

TimeoutSec=30
WatchdogSec=10

Restart=always
RestartSec=5

