[Unit]
Description=MoaT-MQTT broker
After=moat-kv.service
Wants=moat-kv.service

ConditionFileNotEmpty=/etc/moat/moat.cfg

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/moat -c /etc/moat/moat.cfg mqtt broker

User=MoaT-MQTT
Group=MoaT

TimeoutSec=30
WatchdogSec=10

Restart=always
RestartSec=5

